# Maven / Java
/target/
**/target/
*.class
*.jar
*.war
*.ear

# IntelliJ
/.idea/
*.iml
*.iws
*.ipr
/out/

# Eclipse / STS
.classpath
.project
.settings/

# VS Code
.vscode/

# OS / misc
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env / secrets
.env
*.env

# Sonar
/.scannerwork/

**/application.yml
config-server/src/main/resources/config/auth-service.yml
config-server/src/main/resources/config/group-service.yml
config-server/src/main/resources/config/mentor-service.yml
config-server/src/main/resources/config/notification-service.yml
config-server/src/main/resources/config/review-service.yml
config-server/src/main/resources/config/session-service.yml
config-server/src/main/resources/config/skill-service.yml
config-server/src/main/resources/config/user-service.yml
